@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gochi+Hand&display=swap');

html { 
  font-family: 'Inter', sans-serif; 
  margin: 1em;
}
@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}


body {
  margin: 20px;
  padding: 0;
}
.wrapper {
  max-width: 960px;
  margin: 2em auto;
}

.col1,
.col2 {
  background-color: #fff;
}

@media screen and (min-width: 600px) {
  .col1 {
    width: 31.24999999%;
    float: left;
  }

  .col2 {
    width: 64.58333331%;
    float: right;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 80px;
  letter-spacing: -0.022em;
  margin: 0;
}

.todo {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 20px;
  letter-spacing: -0.014em;
  line-height: 1.6;
}

.todo .delete {
  display: none;
  color: red;
}

.todo:hover {
  background: lightyellow
}

.todo:active {
  opacity: 0.5;
}

.current .todo:hover .delete {
  display: none;
}

.todo:hover .delete {
  display: block;
}

.current .todo {
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
}

.todo .done {
  text-decoration: line-through;
}

.todo-list input {
  border: 2px solid black;
  width: 100%;
  padding: 10px;
  margin: 1em 0 2em 0;
  font-size: 28px;
}

.item {
  width: 300px;
}

.checkbox {
  border: 2px solid #000;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 3px 10px 0 0;
}

.checkbox:hover {
  border: 3px solid #444;
  width: 14px;
  height: 14px;
}

.kitchen span.tag {
  background: #FFEE58;
}

.rivet span.tag {
  background: lightcoral;
}

.done {
  text-decoration: line-through;
}

.tag {
  border-radius: 5px;
}